@model Domain.POCO.DTOs.ProductDto

@{
    ViewData["Title"] = "Deleted";
}

<h1>Deleted</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayName("Name")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.n)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Price")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.p)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Barcode")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.bc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("PLU")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.plu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>